<div fxLayout="column wrap" class="padding29 footer width100" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="row wrap" class="width70 footer" fxLayoutAlign="space-between stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true">
      <div>
        since 2022</div>
    </div>
    <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true">
      <div>
        &#xA9; copyright</div>
    </div>
    <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true">
      <div>
        terms of policy</div>
    </div>
  </div>
</div>