<div fxLayout="column wrap" fxLayoutGap="1.4em" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" class="width100" fxLayoutAlign="start stretch" [fxShow]="true">
    <bh-Section1 class="width100"></bh-Section1>
  </div>
  <div fxLayout="row wrap" class="width100" fxLayoutAlign="start stretch" [fxShow]="true">
    <bh-section1below class="width100"></bh-section1below>
  </div>
  <div fxLayout="row wrap" class="width100" fxLayoutAlign="start stretch" [fxShow]="true">
    <bh-section2 class="width100"></bh-section2>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <bh-setion3></bh-setion3>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true">
    <bh-sction4 class="width100"></bh-sction4>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <bh-section5 class="width100"></bh-section5>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"></div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
      <bh-section6 class="width100"></bh-section6>
      <bh-footer class="width100"></bh-footer>
    </div>
  </div>
</div>