<div fxLayout="column wrap" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
    <h2>
      Special Offer Experience</h2>
  </div>
  <div fxLayout="row wrap" class="textAlignCenter witdth50" fxLayoutAlign="space-around center" [fxShow]="true">
    <p>
      Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
  <div fxLayout="row wrap" class="witdth50" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="column " style="100" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true">
      <div fxLayout="row " class="width100" fxLayoutAlign="space-between center" [fxShow]="true">
        <div fxLayout="column wrap" class="officeBg" fxFlex="49" fxLayoutAlign="start stretch" [fxShow]="true">
          <div>
          </div>
        </div>
        <div fxLayout="column wrap" class="kitchenbg" fxFlex="49" fxLayoutAlign="start stretch" [fxShow]="true"></div>
      </div><img imgSrc="/Web/Images/backgroundImage.jpg" class="width100">
    </div>
  </div>
</div>