<div fxLayout="column wrap" class="padding60 width100" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="row wrap" class="width70" fxLayoutAlign="space-between center" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Images/backgroundImage.jpg" class="peoplesImages"></div>
    <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Images/backgroundImage.jpg" class="peoplesImages"></div>
    <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Images/backgroundImage.jpg" class="peoplesImages"></div>
    <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Images/backgroundImage.jpg" class="peoplesImages"></div>
    <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Images/backgroundImage.jpg" class="peoplesImages"></div>
    <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Images/backgroundImage.jpg" class="peoplesImages"></div>
    <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Images/backgroundImage.jpg" class="peoplesImages"></div>
    <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Images/backgroundImage.jpg" class="peoplesImages"></div>
    <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Images/backgroundImage.jpg" class="peoplesImages"></div>
  </div>
  <h2 class="fontSize2em textAlignCenter witdth50">
    Trusted by over 150+ organziations in more than 50 countries</h2>
  <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
    <mat-icon class="qoutesIcon font3em">format_quote</mat-icon>
  </div>
  <p class="witdth50 textAlignCenter">
    . It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  <div>
    Jonh Leon - CO Founder of <span>Veeza</span></div>
</div>