<div fxLayout="column wrap" class="backgroundWhite" fxLayoutGap="2em" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="row wrap" class="width70" fxLayoutAlign="space-between center" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="40" fxLayoutAlign="start stretch" [fxShow]="true">
      <h1>
        <!-- Explore Our Project -->{{page.section2.heading}}
      </h1>
    </div>
    <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start stretch" [fxShow]="true">
      <p class="greyText">
        {{page.section2.paragraph1}}
      </p>
    </div>
  </div>
  <div fxLayout="row wrap" fxFlex="90" fxLayoutGap="10px" fxLayoutAlign="center stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="18" fxLayoutGap="1em" fxLayoutAlign="start space-between" [fxShow]="true" *ngFor="let section2 of page.section2.housesImages">
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="{{section2.image}}" class="heightImage" width="100%"></div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <h4>
          {{section2.title}}
        </h4>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <h6 class="greyText">
          <!-- Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book -->{{section2.paragraph}}
        </h6>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <h6 class="greyText">
          {{section2.date}}
        </h6>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"></div>
</div>