<div fxLayout="column wrap" class="whiteText backgroundImage" fxLayoutGap="50px" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" fxFlex="40px" fxLayoutAlign="space-around center" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true" fxFlex.xs="60">
      <h1>
        VEEZA</h1>
    </div>
    <div fxLayout="column wrap" fxFlex="40" fxLayoutAlign="start stretch" [fxShow]="true" fxHide.xs="true">
      <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" *ngFor="let nav of page.section1.navItems ">
          <div>
            {{nav}}
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="column wrap" class="border-radius50" fxFlex="10" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-button class="redBtn whiteText" fxHide.xs="true">Get Started</button>
      <mat-icon fxHide.gt-sm="true" fxHide.md="true" fxHide.lg="true" fxHide.gt-xs="true">menu</mat-icon>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center space-around" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutGap="2em" fxLayoutAlign="center center" [fxShow]="true">
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <h1 ngStyle.xs="font-size:2em" class="textAlignCenter font3em">
          <!-- The Smartest Way To Buy a House -->{{page.section1.heading}}
        </h1>
      </div>
      <div fxLayout="row wrap" class="textAlignCenter width70" fxLayoutAlign="center stretch" [fxShow]="true" ngClass.xs="width100">
        <p ngClass.xs="width100" class="width70 textAlignCenter">
          <!-- It was popularised in sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. -->{{page.section1.content}}
        </p>
      </div>
      <div fxLayout="row wrap" class="margin-bottom whitebg" fxLayoutAlign="center stretch" [fxShow]="true" fxLayout.xs="column" ngStyle.xs="   border-radius: 0px;">
        <div fxLayout="column wrap" class="blackText" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div>
              location</div>
            <mat-icon class="font1em">place</mat-icon>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div class="greyText">
              Find destination</div>
          </div>
        </div>
        <div fxLayout="column wrap" class="blackText" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div>
              Budget</div>
            <mat-icon class="font1em">local_offer</mat-icon>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div class="greyText">
              Choose your budget</div>
          </div>
        </div>
        <div fxLayout="column wrap" class="blackText" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div>
              Type of home</div>
            <mat-icon class="font1em">home</mat-icon>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div class="greyText">
              Apartment</div>
          </div>
        </div>
        <div fxLayout="column " fxLayoutAlign="center stretch" [fxShow]="true">
          <mat-icon class="blackText">search</mat-icon>
        </div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"></div>
      </div>
    </div>
  </div>
</div>