<div fxLayout="column wrap" class="backgroundWhite" fxLayoutGap="2em" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="row wrap" class="width90" fxLayoutAlign="space-between center" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="40" fxLayoutAlign="start stretch" [fxShow]="true">
      <h1>
        Explore Our Project</h1>
    </div>
    <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start stretch" [fxShow]="true">
      <p class="greyText">
        sum has been the industry&apos;s standard dummy text ever since he 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>
  <div fxLayout="row wrap" fxFlex="90" fxLayoutGap="10px" fxLayoutAlign="center stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="22" fxLayoutGap="1em" fxLayoutAlign="start space-between" [fxShow]="true">
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Images/backgroundImage.jpg" width="100%"></div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <h4>
          PageMaker including </h4>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <h6 class="greyText">
          Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
        </h6>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <h6 class="greyText">
          january 20 2022</h6>
      </div>
    </div>
    <div fxLayout="column wrap" fxFlex="22" fxLayoutGap="1em" fxLayoutAlign="start space-between" [fxShow]="true">
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Images/backgroundImage.jpg" width="100%"></div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <h4>
          PageMaker including </h4>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <h6>
          Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
        </h6>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <p>
          january 20 2022</p>
      </div>
    </div>
    <div fxLayout="column wrap" fxFlex="22" fxLayoutGap="1em" fxLayoutAlign="start space-between" [fxShow]="true">
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Images/backgroundImage.jpg" width="100%"></div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <h4>
          PageMaker including </h4>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <h6>
          Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
        </h6>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <p>
          january 20 2022</p>
      </div>
    </div>
    <div fxLayout="column wrap" fxFlex="22" fxLayoutGap="1em" fxLayoutAlign="start space-between" [fxShow]="true">
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Images/backgroundImage.jpg" width="100%"></div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <h4>
          PageMaker including </h4>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <h6>
          Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
        </h6>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <p>
          january 20 2022</p>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"></div>
</div>