<div fxLayout="column wrap" class="padding49" fxLayoutAlign="center center" [fxShow]="true" ngStyle.xs="padding:20px;">
  <div fxLayout="row wrap" class="width70" fxLayoutAlign="start stretch" [fxShow]="true" ngStyle.xs="width:100%" fxLayoutAlign.xs="center center">
    <p ngStyle.xs="width:90%" class="fontBold textAlignCenter">
      &quot;Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged&quot;</p>
  </div>
</div>