<div fxLayout="column wrap" fxLayoutGap="5em" fxLayoutAlign="center center" [fxShow]="true">
  <div fxLayout="row wrap" class="width70" fxLayoutAlign="space-between center" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="60" fxLayoutAlign="space-around stretch" [fxShow]="true"><img imgSrc="/Web/Images/backgroundImage.jpg" width="100%"></div>
    <div fxLayout="column wrap" fxFlex="38" fxLayoutGap="1em" fxLayoutAlign="start space-around" [fxShow]="true">
      <h2>
        Enhance you interior through design</h2>
      <p>
        but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>
  <div fxLayout="row wrap" class="width70" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Images/backgroundImage.jpg" class="width100"></div>
</div>